
.Cockplit button{
    background-color: green;
    color:'white';
    border:1px solid white;
    padding:8px;
    text-align:center;
    margin:10px;
    cursor:pointer;
    
  }
  
  .Cockplit button:hover{
    background-color:lightgreen }
  
    .Cockplit button.Red {
      background-color:red }
    .Cockplit button.Red:hover{
      background-color:lightsalmon }
  